__pycache__/astar.cpython-312.pyc
__pycache__/bfs.cpython-312.pyc
__pycache__/dfs.cpython-312.pyc
__pycache__/rubik_ai.cpython-312.pyc
__pycache__/main.cpython-312.pyc
__pycache__/rubik_ai.cpython-312.pyc
